@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.table tr td {
	vertical-align: middle;
}

.table {
	table-layout: fixed;
	text-align: center;
}

@media ( max-width : 992px) {
	.table {
		width: 100%;
	}
	.table tr th {
		white-space: nowrap;
	}
	.table tr td {
		white-space: nowrap;
	}
}

/*--------------------------------------------------------------
# userList
--------------------------------------------------------------*/
.userAdmin {
	padding-top: 200px;
}

@media ( max-width : 992px) {
	.userAdmin {
		padding: 60px 0 0 0;
		overflow-x: scroll;
	}
}

/*--------------------------------------------------------------
# menuList
--------------------------------------------------------------*/
.btn-add {
	float: right;
	margin-bottom: 10px;
}

ul.tabs {
	display: flex;
	justify-content: center;
}

ul.tabs li {
	padding: 10px 0;
	width: 100px;
	border: 1px solid #ccc;
	border-left: none;
	text-align: center;
}

ul.tabs li.current {
	background-color: #222;
	color: #fff;
}

ul.tabs li:hover {
	background-color: #222;
	color: #fff;
	cursor: pointer;
}

ul.tabs li:first-child {
	border-left: 1px solid #ccc;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
}

.menuAdmin {
	padding-top: 200px;
}

.menuAdmin table img {
	width: 50px;
}

.menuAdmin table tr td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menuAdmin table tr.menu-item:hover {
	background-color: #ccc;
	cursor: pointer;
}

.menuAdmin table tr th {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media ( max-width : 992px) {
	.menuAdmin {
		padding: 60px 0 0 0;
	}
}
.menuList-content {
	text-align:initial;
}
/*--------------------------------------------------------------
# menuAdiminDetail
--------------------------------------------------------------*/
.menuAdmin-detail {
	padding-top: 200px;
}

.menuAdmin-detail .btn-wrap {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.menuAdmin-detail .btn-wrap button {
	margin-right: 10px;
}

@media ( max-width : 992px) {
	.menuAdmin-detail {
		padding: 60px 0 0 0;
	}
}

.card img {
	margin: 0 auto;
}

.card-title-form {
	padding: 1.25rem;
}

.menuAdmin-detail .menuAdmin-detail__content {
	display: flex;
	justify-content: center;
}

.menuAdmin-detail .menuAdmin-detail__content .menuAdmin-detail__kind {
	width: 80%;
}

.kind-radio-form {
	display: flex;
	justify-content: flex-start;
}
.menuAdmin-detail__recommend {
	display:flex;
}
.kind-radio-form-title {
	width: 20%;
}
/*--------------------------------------------------------------
# menuAdiminInsert
--------------------------------------------------------------*/
.menuAdmin-insert {
	padding-top: 200px;
}

.menuAdmin-insert .btn-wrap {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.menuAdmin-insert .btn-wrap button {
	margin-right: 10px;
}

@media ( max-width : 992px) {
	.menuAdmin-detail {
		padding: 60px 0 0 0;
	}
}

.card img {
	margin: 0 auto;
}

.card-title-form {
	padding: 1.25rem;
}

.menuAdmin-insert .menuAdmin-insert__content {
	display: flex;
	justify-content: center;
}

.menuAdmin-insert .menuAdmin-insert__content .menuAdmin-insert__kind {
	width: 80%;
}

.kind-radio-form {
	display: flex;
	justify-content: space-between;
}

.kind-radio-form-title {
	width: 20%;
}

.menuAdmin-insert .menuAdmin-insert__content .menuAdmin-insert__recommend
{
	display: flex;
	align-items: baseline;
	width: 80%;
}
input[type=radio] {
	margin: 5px;
}
.recommend-radio-form {
	display: flex;
	
}

.recommend-radio-form-title {
	width: 20%;
}


/*--------------------------------------------------------------
# paging
--------------------------------------------------------------*/
.pagination {
	text-align:center;
	align-items: center;
}
.page-number {
	width: 20px;
	cursor: pointer;
	color: #ccc;
}
