@charset "UTF-8"; 


/*@media (max-height: 500px) {
	.menu__container {
    	height: 120vh;
	}
	
}
@media (max-width: 768px) {
  .menu__container {
    height: 100vh;
  }
 
}*/
#drinks__container {
	background: url("/ediya/assets/img/menu/drink_visual.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
}
#drinks__container .menu__list-content .active {
	background-color:#fff;
	color:#222;
}